div {
    display: inline-block;  /*declarando el comportamiento*/
    width: 230px;   /*estableciendo el ancho*/
    height: 120px;  /*estableciendo el alto*/
    margin: 12px;   /*modificando el margen*/
    padding: 8px;   /*modificando el padding*/

}

.gold {
    background-color: gold; /*estableciendo el color de fondo*/
}

.black {
    background-color: black;    /*estableciendo el color de fondo*/
    color: white;   /*estableciendo el color del contenido*/
}